<p id="notice"><%= notice %></p>

<p>
 	<strong>Email:</strong>
  	<%= @user.email %>
</p>

<p>
  	<strong>Name:</strong>
  	<%= @user.name %>
</p>

<p>
  	<strong>Surname:</strong>
  	<%= @user.surname %>
</p>


<% @user.reservations.each do |reservation| %>
<ul>
	<li>
		<%= reservation.flight.flight_number %>
	</li>
	<li>
		Seat: <%= reservation.row %><%= reservation.column %>
	</li>
	<li>
		<%= reservation.flight.date %>
	</li>
</ul>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %>

