<!DOCTYPE html>
<html>
<head>
  <title>BurningAirlines</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if @current_user.present? && @admin.present? %>
<%= link_to 'New Airplane', new_airplane_path %>
<% end %>

<% if @current_user.present? %>
<a href="<%= user_path(@current_user) %>"><%= @current_user.name %></a>
<a href="<%= new_reservation_path %>">Book a flight</a>
<% end %>


<div class="container">
	<%= yield %>
</div>


</body>
</html>
